*.tar.gz
*.Rcheck/
.Rproj.user
.Rhistory
.RData
README.html
docs/*
!docs/ERRATA.Rmd
!docs/ERRATA.md
.webr-local-artifacts/
node_modules/
*.tgz
.pi/
build/
cmake_build/
configure/
*.Rcheck
r/RClinVarbitration/webr-repo/
